.clearfix
  &:before
    display table
    content ''
  &:after
    display block
    content ''
    clear both
.opt-btn
  display inline-block
  padding 3px 20px
  border-radius 3px
  border 1px solid #ddd
  line-height 30px
  &:hover
    background-color #afa
    color #fff
